{% extends "basic_app/base.html" %}
{% load bootstrap4 %}

{% block body_block %}

    <div class="jumbotron">
        <h1 class="display-4">Please Login</h1>

        {# Display a form #}
        <form action="{% url 'basic_app:user_login' %}" method="post" class="form-group">
            {% csrf_token %}

            <label for="username">Username: </label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">

            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" placeholder="Enter password">

            {% buttons %}
                <button type="submit" class="btn btn-primary" value="Login">Login</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}