<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block body_block %}

    <div class="jumbotron">
        {% if registered %}
            <h1>Thank You for registering!</h1>
        {% else %}
            <h1>Register Here!</h1>
            <p class="lead">Fill out the form:</p>

            {# Display a form #}
            <form enctype="multipart/form-data" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary" value="Register">Register</button>
                {% endbuttons %}
            </form>
        {% endif %}
    </div>
{% endblock %}